<script src="/js/epiceditor.js"></script>
<style>
input {
  border:1px solid #ccc;
  padding:8px;
  font-size:14px;
  width:100%;
  }

.submit {
  width:110px;
  background-color:#FF6;
  padding:3px;
  border:1px solid #FC0;
  margin-top:15px;
  margin-bottom: 15px;
}
.field {
  width: 100%;
  margin-bottom: 20px;
}
.nav-li>li>a {
    position: relative;
    display: block;
    padding: 10px 44px;
}
.nav-tabs {
      margin-left: -63px;
}
.table {
      border: 2px solid #ddd;
}
.table>tbody>tr>td{
  padding: 11px!important;
}
.glyphicon {
  margin-right: 15px;
}
.badge {
  margin-left: 10px;
}
.table>thead>tr>th {
  text-align: center;
  padding: 3px;
  font-size: 19px;
  background: #ddd;
  color: #777;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
    text-decoration: none;
    color: #a94442;
}
a:focus {
  text-decoration: none;
  color: #333;
}
p {
  font-size: 14px;
}
</style>

<div class="container">
    <div class="two column">
        <table class="table">
          <thead>
              <tr>
                <% if(post) {%>
                <th><%= post.title %></th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%if(req.session.authenticated) {%>
                  <% if(req.session.User.username === post.username) { %>
                    <div class="user-edit-delete" style="margin-bottom:30px;">
                        <a href = "/delete/<%= post.id%>">
                        <button type="submit" class="btn btn-default complain-btn btn-danger" id="delete-post">Delete Post </button>
                        </a>
                        <a href = "/post/edit/<%= post.username%>/<%= post.title%>/<%= post.id%>">
                        <button type="submit" class="btn btn-default complain-btn btn-primary" id="delete-post">Edit Post </button>
                        </a>
                      </div>
                    <% } %>
                  <% }  %>
                <div class="form-group">
                  <label for="description">Description : </label>
                  <div class="post-title"><p><%= post.shortdesc %></p></div>
                </div>
                <div class="form-group">
                    <label for="tags">Tags : </label>
                  <% var count = 0; var tags = post.tags; %>
                  <% _.each(tags, function(postx){ %>
                    <button type="submit" class="btn btn-default complain-btn btn-warning" id="delete-post"><%= postx %></button>
                    <% }); %>
                </div>
                <div class="form-group">
                  <label for="platform">Platform : </label>
                  <%= post.platform %>
                </div>
                <div class="form-group">
                  <label for="editor">Steps:</label>
                  <div class="inputs" style="border:2px solid #ddd;min-height:300px;">
                    <div id="epiceditor">
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% } else {%>
                 <a href="/create-post">
                  <div class="alert alert-danger" id="error-msg">
                    <strong>Duh!</strong> Are you sure someone created this post? Cause it looks it doesn't exist. Create you own post <span style="color:#a94442">here</span>.
                  </div>
                </a>
              <% }%>
          </tbody>
        </table>
    </div>
    <div class="one column" style="position:relative">
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Weird Tips</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-hand-right"></span>You can create your own posts. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Raise an issue or ask a question.<br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Active developers get brownies from us. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Something wrong with us? Report in contact page. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Add suitable tags to make your work visible to more and more developers. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Don't forget to publish your work. <br><br>
              <span class="glyphicon glyphicon-hand-right"></span>Find, Create, Share. <br><br>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<script type="text/javascript">
  var opts = {
    container: 'epiceditor',
    textarea: null,
    basePath: 'epiceditor',
    clientSideStorage: true,
    localStorageName: 'epiceditor',
    useNativeFullscreen: true,
    parser: marked,
    file: {
      name: 'epiceditor',
      defaultContent: '',
      autoSave: 100
    },
    theme: {
      base: '/themes/base/epiceditor.css',
      preview: '/themes/preview/preview-dark.css',
      editor: '/themes/editor/epic-dark.css'
    },
    button: {
      preview: true,
      fullscreen: true,
      bar: "auto"
    },
    focusOnLoad: false,
    shortcut: {
      modifier: 18,
      fullscreen: 70,
      preview: 80
    },
    string: {
      togglePreview: 'Toggle Preview Mode',
      toggleEdit: 'Toggle Edit Mode',
      toggleFullscreen: 'Enter Fullscreen'
    },
    autogrow: true
  }
  var editor = new EpicEditor(opts).load();
  console.log(editor.getElement('editor').body.innerHTML);
    <% if(post) {%>
  editor.getElement('editor').body.innerHTML = "<%= post.steps%>";
  <% } %>
  var files = editor.getFiles();
  for (x in files) {
    console.log('File: ' + x); //Returns the name of each file
  };
   editor.preview();
  // var code = editor.getElement('editor').body.innerHTML;
  console.log(code);
</script>
